<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
        dignissimos saepe architecto commodi beatae rem culpa recusandae amet
        explicabo voluptatibus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
        debitis.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam minus
        voluptas in reiciendis harum numquam assumenda vero dolores laudantium
        magni.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
